{% extends "template.twig" %}

{% block head %}
    <title>Portfolio</title>
{% endblock %}

{% block content %}

<div>
    
</div>
{% if filtre == 'addPhoto' %}
    <h1>Ajouter une photo</h1>
{% else %}
    <h1>Photo : {{ data.titre }}</h1>   
{% endif %} 

<a href="index.php?p=portfolio">Retour</a>

<div class="alert alert-field" role="alert"></div>

<form 
    action={% if filtre == 'addPhoto' %}'index.php?p=portfolio&q=add'{% else %}'index.php?p=portfolio&q=modify&id='+{{ data.id }}{% endif %} method="POST" id="frm" name="frm" enctype="multipart/form-data">

    <div class="form-row">

        <div class="form-group col-md-6">
            <div class="form-row">
                <div class="form-group col">
                    <label for="titre">Titre</label>
                    <textarea id="titre" class="form-control" type="text" name="titre" rows="3" minlength="5" maxlength="250" required>{{ data.titre }}</textarea>                    
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="album">Album</label>
                    <select class="form-control" name="album" id="album">
                            {% for album in albums %}
                                {% if album.titre == data.album %}
                                    <option value="{{ album.id }}" selected="selected">{{ album.titre }}</option>
                                {% else %}
                                    <option value="{{ album.id }}">{{ album.titre }}</option>
                                {% endif %}
                            {% endfor %}          
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="mots_cles">Mots clés</label>
                    <input id="mots_cles" class="form-control" type="text" name="mots_cles" value="{{ data.mots_cles }}" maxlength="250" placeholder="ex: beauté, ongles, maquillage">
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="image">Image</label>
            
                
            <input type="file" class="form-control-file" id="fichier" name="file" {% if data.lien_img == null %} {% endif %} >
            {% if data.lien_img %}
                <hr>
                <span>Image actuelle</span>
                <img class="img_frm" src="{{ data.lien_img }}" alt="">              
            {% endif %}
        </div>
    </div>

    {% if filtre == 'addPhoto' %}
        <button type="submit" class="btn btn-primary mb-2">Ajouter une nouvelle photo</button>
    {% else %}
        <button type="submit" class="btn btn-primary mb-2">Appliquer les modifications</button>
    {% endif %}
        
</form>

<script> 
    $('#frm').submit(function(e) {
        e.preventDefault();
        let form = $(this)[0];
        let formData = new FormData(form);
        $.ajax({
            type: 'POST',
            url: this.action,
            data: formData,
            processData: false,
            contentType: false,
            success: function(reponse) {
                let rep = JSON.parse(reponse);
                displayResponse(rep)
            }
        })
    })

    function displayResponse(rep) {
        let fenetre = document.getElementsByClassName('alert-field')[0];
        fenetre.style.display = 'block';
        fenetre.textContent = "";
        if(rep.form.length == 0 & rep.image.length == 0) {
            setTimeout(function() {
                //document.location.reload(true)
            }, 1500);
            fenetre.classList.remove('alert-danger');
            fenetre.classList.add('alert-success');
            fenetre.textContent = "La photo a bien été ajoutée/modifiée";
            $('#frm')[0].reset();
        } else {
            let errors = [];
            let listErrors = document.createElement('ul');
            for(let i=0; i<rep.form.length; i++){
                errors.push(rep.form[i]);
            }
            for(let i=0; i<rep.image.length; i++){
                errors.push(rep.image[i]);
            }
            for(let i=0; i<errors.length; i++) {
                let li = document.createElement('li');
                li.textContent = errors[i];
                listErrors.appendChild(li);
            }
            fenetre.appendChild(listErrors);
            fenetre.classList.remove('alert-success');
            fenetre.classList.add('alert-danger');
        }
    }

</script>


{% endblock %}

