
    {% extends "template.twig" %}

    {% block head %}
        <title>Historique</title>
    {% endblock %}

    {% block content %}
        {% if isSession == 'vrai' %}

            <h1>Liste des Historique</h1>
            
        {% for event in historique %}
            <p>Le {{event.date_evt | date("d/m/Y")}} à {{event.date_evt | date("H:i")}} -- 
                {% if event.categorie == "ATTAQUE" %}
                    {{ event.nom_perso_origin }} a attaqué {{ event.nom_perso_cible }} !
                {% elseif event.categorie == "CREATION_PERSO" %} 
                    {{ event.nom_perso_origin }} a été créé !
                {% elseif event.categorie == "MORT" %} 
                    {{ event.nom_perso_cible }} a été tué par {{ event.nom_perso_origin }} !
                {% endif %}                

            </p>    
        {% endfor %}

        {% else %}
            <h4 class="text-danger">Vous n'êtes pas autorisé !</h4>
        {% endif %}



    {% endblock %}
    

