{% extends "template.twig" %}

{% block head %}
    <title>Message de {{ data.nom }}</title>
{% endblock %}
    
{% block content %}
    
    <div class="container">
        <a href="index.php?q=messages" />Retourner aux messages</a>
        <h3>
            Message de {{ data.nom|upper }} {{ data.prenom|capitalize }} 
        </h3>
        <p>
            Mail: {{ data.email }} 
        </p>
        <p>
            Téléphone: {{ data.telephone }}   
        </p>                
        <p>
            Le {{ data.date_message|date("d/m/Y") }} à {{ data.date_message|date("H:i") }}
        </p>
        <p>
            {{ data.message }} 
        </p>       
    </div>

{% endblock %}

