{% extends "template.twig" %}

{% block head %}
    <title>Prestation</title>
{% endblock %}

{% block content %}

<div>
    <h1>Prestation : {{ data.titre }}</h1>
</div> 

<a href="index.php?p=prestations">Retour</a>

<div class="alert" role="alert" id="alert_prestation_modifyadd"></div>

<form action="" method="POST" id="frm" name="frm" enctype="multipart/form-data">

    <div class="form-row">

        <div class="form-group col-md-8">
            <div class="form-row">
                <div class="form-group col">
                    <label for="titre">Titre</label>
                    <input id="titre" class="form-control" type="text" name="titre" value="{{ data.titre }}" minlength="5" maxlength="200" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="categorie">Catégorie</label>
                    <select class="form-control" name="categorie" id="categorie" required>
                            {% for categorie in categories %}
                                {% if categorie.nom == data.categorie %}
                                    <option value="{{ categorie.id }}" selected="selected">{{ categorie.nom }}</option>
                                {% else %}
                                    <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                                {% endif %}
                            {% endfor %}          
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-group">
                        <label for="prix">Prix</label>
                        <input id="prix" class="form-control" type="text" name="prix" value="{{ data.prix }}" minlength="1" maxlength="10" placeholder="ex: 80.00" required>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-group">
                        <label for="temps">Temps</label>
                        <input id="temps" class="form-control" type="text" name="temps" value="{{ data.temps }}" minlength="1" maxlength="10" placeholder="ex: 2h30" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="detail">Detail</label>
                <textarea id="detail" class="form-control" type="text" name="detail" rows="10" maxlength="5000">{{ data.detail }}</textarea>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="image">Image de la prestation</label>
            <input type="file" class="form-control-file" id="fichier" name="file">
            {% if data.lien_img %}
                <hr>
                <span>Image actuelle</span>
                <img class="img_prestation_frm" src="{{ data.lien_img }}" alt="">
            {% endif %}
        </div>
    </div>

    {% if filtre == 'addPrestation' %}
        <button type="submit" class="btn btn-primary mb-2">Ajouter une nouvelle prestation</button>
    {% else %}
        <button type="submit" class="btn btn-primary mb-2">Appliquer les modifications</button>
    {% endif %}
        
    

</form>

<script>

    {% if filtre == 'addPrestation' %}
        let url = 'index.php?p=prestations&q=add'
    {% else %}
        let url = 'index.php?p=prestations&q=modify&id='+{{ data.id }}
    {% endif %}
    

    $('#frm').submit(function(e) {
        e.preventDefault();
        let form = $('#frm')[0];
        let formData = new FormData(form);

        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            processData: false,
            contentType: false,
            success: function(reponse) {
                let rep = JSON.parse(reponse);
                displayResponse(rep)
            }
        })
    })

    function displayResponse(rep) {
        let fenetre = document.getElementById('alert_prestation_modifyadd');
        fenetre.style.display = 'block';
        fenetre.textContent = "";
        if(rep.form.length == 0 & rep.image.length == 0) {
            setTimeout(function() {
                document.location.reload(true)
            }, 1500);
            fenetre.classList.remove('alert-danger');
            fenetre.classList.add('alert-success');
            fenetre.textContent = "La prestation a bien été ajoutée/modifiée";
            $('#frm')[0].reset();
        } else {
            let errors = [];
            let listErrors = document.createElement('ul');
            for(let i=0; i<rep.form.length; i++){
                errors.push(rep.form[i]);
            }
            for(let i=0; i<rep.image.length; i++){
                errors.push(rep.image[i]);
            }

            for(let i=0; i<errors.length; i++) {
                let li = document.createElement('li');
                li.textContent = errors[i];
                listErrors.appendChild(li);
            }
            fenetre.appendChild(listErrors);
            fenetre.classList.remove('alert-success');
            fenetre.classList.add('alert-danger');
        }
    }

</script>


{% endblock %}

