{% extends "template.twig" %}

{% block head %}
    <title>Messages</title>
{% endblock %}

{% block content %}

<div>
    {% if filtre == 'bin' %}
        <h1>Corbeille</h1>
        <a href="index.php?q=messages" />Retourner aux messages</a>
    {% else %}
        <h1>Messages</h1>
        <a href="index.php?q=messages&ac=bin" />Voir Corbeille</a>
    {% endif %}
    
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Nom</th>
                <th scope="col">Coordonnées</th>
                <th scope="col">Message</th>       
                <th scope="col"></th>       
            </tr>
        </thead>
        {% for message in data %}
            <tr>
                <th scope="row"> 
                    {{ message.id }} 
                </th>
                <td id="date_message">
                    Le {{ message.date_message|date("d/m/Y") }} à {{ message.date_message|date("H:i") }}
                </td>
                <td> 
                    {{ message.nom|upper }} {{ message.prenom|capitalize }} 
                </td>                
                <td>
                    {{ message.email }} 
                    <br/>
                    {{ message.telephone }} 
                </td>   
                <td>
                    {{ message.message|slice(0,100) }}
                   {% if message.message|length > 100 %}...
                        <a href="index.php?q=messages&id={{ message.id }}" />Voir plus</a>
                   {% endif %}
                   
                </td>                         
                <td> 
                    {% if filtre == 'bin' %}
                        <a class="text-warning" href="index.php?q=messages&ac=del&id={{ message.id }}" />Annuler suppression</a>
                    {% else %}
                        <a class="text-danger" href="index.php?q=messages&ac=del&id={{ message.id }}" />Supprimer message</a>
                    {% endif %}
                    
                </td>                
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

