{% extends "template.twig" %}

{% block head %}
    <title>Prestations</title>
{% endblock %}

{% block content %}

<div>
    <h1>Prestations</h1>
    <a class="btn btn-primary" href="index.php?p=prestations&q=add">
        Ajouter une nouvelle prestation
    </a>
    <a class="btn btn-primary" href="index.php?p=categories">
        Gérer les catégories
    </a>    
</div> 

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Titre</th>    
                <th scope="col">Prix</th>    
                <th scope="col">Temps</th>    
                <th scope="col">Detail</th>    
                <th scope="col"></th>    
                <th scope="col"></th>    
                <th scope="col"></th>    
            </tr>
        </thead>
        {% for prestation in data %}
            <tr>
                <th scope="row"> 
                    {{ loop.index }} 
                </th>
                <td>
                    {{ prestation.categorie }}
                </td>                            
                <td>
                    {{ prestation.titre }}
                </td>                            
                <td>
                    {{ prestation.prix }}
                </td>                            
                <td>
                    {{ prestation.temps }}
                </td>                            
                <td>
                    {{ prestation.detail|slice(0,100) }}
                   {% if prestation.detail|length > 100 %}...
                        <a class="text-primary" href="index.php?p=prestations&id={{ prestation.id }}" />Voir plus</a>
                   {% endif %}                    
                </td>     
                <td>
                    <img src="{{ prestation.lien_img}}" alt="" class="img_frm_tab">
                </td>                            
                <td> 
                    <a class="text-primary" href="index.php?p=prestations&id={{ prestation.id }}" />Modifier</a>
                </td>             
                <td> 
                    <a class="text-danger" href="index.php?p=prestations&q=delete&id={{ prestation.id }}" />Supprimer</a>
                </td>                                         
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

