{% extends "template.twig" %}

{% block head %}
    <title>Prestation</title>
{% endblock %}

{% block content %}

<div>
    <h1>Prestation : {{ data.titre }}</h1>
</div> 


<form action="" method="POST" id="frm" name="frm" enctype="multipart/form-data">

    <div class="form-row">

        <div class="form-group col-md-8">
            <div class="form-row">
                <div class="form-group col">
                    <label for="titre">Titre</label>
                    <input id="titre" class="form-control" type="text" name="titre" value="{{ data.titre }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="categorie">Catégorie</label>
                    <select class="form-control" name="categorie" id="categorie">
                        {% for categorie in data.categories %}
                            <option value="{{ categorie }}">{{ categorie }}</option>
                        {% endfor %}        
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-group">
                        <label for="prix">Prix</label>
                        <input id="prix" class="form-control" type="text" name="prix" value="{{ data.prix }}">
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-group">
                        <label for="temps">Temps</label>
                        <input id="temps" class="form-control" type="text" name="temps" value="{{ data.temps }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="detail">Detail</label>
                <textarea id="detail" class="form-control" type="text" name="detail" rows="10">{{ data.detail }}</textarea>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="image">Image de la prestation</label>
            <input type="file" class="form-control-file" id="fichier" name="file">
            <img src="{{ data.lien_img }}" alt="">
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Appliquer les modifications</button>

</form>

<script>
    $('#frm').submit(function(e) {
        e.preventDefault();
        let form = $('#frm')[0];
        let formData = new FormData(form);
        //formData.append('file', document.querySelector('#fichier').files[0])

        $.ajax({
            type: 'POST',
            url: 'index.php?p=prestations&q=modify&id='+{{ data.id }},
            data: formData,
            processData: false,
            contentType: false,
            success: function(reponse) {
                console.log('success reponse');
            }
        })
    })
</script>


{% endblock %}

