
    {% extends "template.twig" %}

    {% block head %}
        <title>Mon Personnage</title>
    {% endblock %}

    {% block content %}
        {% if isSession == 'vrai' %}
        <h2>Gestion de {{ perso.nom }}</h2>
        <div class="row">
            <div class="col-1">
                <p class="p_prog_bar">PV</p>
            </div>
            <div class="col-8">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ perso.pv }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ perso.pv }} / 100</div>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-1">
                <p class="p_prog_bar">XP</p>
            </div>
            <div class="col-8">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{ perso.experience }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ perso.experience }} / 100</div>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-1">
                <p class="p_prog_bar">Niveau</p>
            </div>
            <div class="col-8">
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: {{ perso.niveau }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ perso.niveau }} / 100</div>
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col-4">
                {% if perso.etat == "NORMAL" %}
                    <p class="text-success">Etat : {{ perso.etat | capitalize }}</p>
                {% else %}
                    <p class="text-danger">Etat {{ perso.etat | capitalize }} depuis le Le {{event.date_evt | date("d/m/Y")}} à {{event.date_evt | date("H:i")}}</p>     
                {% endif %}
                
            </div>
        </div>        
        <div class="row">                                  
            <div class="col-3">
                <p>{{ perso.classe | capitalize }} -- {{ perso.faction | capitalize }}</p>
            </div> 
            <div class="col-3">
                <p>Arme 1 : {{ perso.arme_1 }} -- Arme 2 : {{ perso.arme_2 }}</p>
            </div> 
        </div>
        <div class="row">
            <div class="col-3">
                <p>Nombre de coups autorisés : {{ perso.nb_coup_aut }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p>Nombre de coups disponibles : {{ perso.nb_coup_aut - perso.nb_coup_j}}</p>
            </div>
        </div>  

        <h4>Caractéristiques</h4>
        <div class="row">
            <div class="col-2">
                <p>Force : </p>
            </div>
            <div class="col-1">
                <p>{{ perso.c_force }}</p>
            </div>                
        </div>   
        <div class="row">
            <div class="col-2">
                <p>Endurance : </p>
            </div>
            <div class="col-1">
                <p>{{ perso.c_endurance }}</p>
            </div>                
        </div> 
        <div class="row">
            <div class="col-2">
                <p>Rapidité : </p>
            </div>
            <div class="col-1">
                <p>{{ perso.c_rapidite }}</p>
            </div>                
        </div> 
        <div class="row">
            <div class="col-2">
                <p>Chance : </p>
            </div>
            <div class="col-1">
                <p>{{ perso.c_chance }}</p>
            </div>                
        </div> 
        <div class="row">
            <div class="col-2">
                <p>Intelligence : </p>
            </div>
            <div class="col-1">
                <p>{{ perso.c_intelligence }}</p>
            </div>                
        </div>                 


                                   
        {% else %}
            <h4 class="text-danger">Vous n'êtes pas autorisé !</h4>
        {% endif %}
    {% endblock %}
    

